body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScOr3_67BqqirRo80DDy1z8dsiIMPhtjUbOSf_Y-xQoNE68E2ixpG3HbBM5m2VudHq9eI&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  perspective: 800px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
  
}
#turns{
  color: black;
}
#succees{
  color: #03FC07;
}
#succeesb{
  color: #03FC07;
  background-color: red;
  border: none;
}